<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Electronics Universe Central Station</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <!-- tag::logout[] -->
    <div>
        Hello, <span th:text="${#authentication.name}">user</span>.
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>
    </div>
    <!-- end::logout[] -->

    <div id="app"></div>
    <script>
        // Set to 'true' to activate logged-in routes
        user = false;
    </script>

    <script src="app.js"></script>

</body>
<!--
from react and spring tutorial
<body>
<div>
    Hello, <span th:text="${#authentication.name}">user</span>.
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log Out"/>
    </form>
</div>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
-->
<!--
From sb-admin
<body>
<div id="app"></div>

<script>
    // Set to 'true' to activate logged-in routes
    user = false;
</script>

<script src="app.js"></script>
</body>
-->
</html>